/* Hint buttons */
body {
    text-align: center;
}

.btn {
    border: solid 3px;
    display: block;
    font-family: sans-serif;
    margin: auto;
    padding: 15px;
    width: 150px;
}

.btn:hover {
    border-radius: 15px;
    cursor: pointer;
}

.is-hidden {
    display: none;
}

.hintbox {
    border: solid 3px;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
    padding: 15px;
    text-align: center;
    width: 150px;
}